@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


a {
  cursor: pointer;
  text-decoration: underline;
}

a:visited {
  color: #0d9d58;
}

body {
  position: relative;
}

.fas {
  color: #0d9d58;
  font-size: 50px;
  position: fixed;
  top: 30px;
  left: 55px;
}

h1::after {
  content: " Platform";
  color: #707070;
  /* font-size:px; */
  /* font-weight: ; */
  /* font-family: ; */
}

h1 {
  color: #ea4334;
}

h1::before {
  content: "GDG ";
  color: #ea4334;
  /* font-size:px; */
  /* font-weight: ; */
  /* font-family: ; */
}

.form-content {
  width: 80%;
  margin: 10% auto;
  text-align: center;
}

.form-input {
  border: none;
  margin: 15px 50px;
  width: 35%;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

.form-input-login {
  display: inline-block;
  color: #0d9d58;
  margin: 15px 10%;
  position: absolute;
  left: 20%;
}

.form-input-button {
  display: inline-block;
  margin: 10px 10%;
  position: absolute;
  left: 45%;
  text-decoration: none;
  border: none;
  background-color: #0d9d58;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .form-input-login::after {
    display: inline;
    color: #0d9d58;
    margin: 15px 10%;
    position: absolute;
    left: 20%;
  }

  .form-input-button {
    display: inline;
    margin: 10px 10%;
    position: absolute;
    left: 45%;
    text-decoration: none;
    border: none;
    background-color: #0d9d58;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
  }
}

.error {
  color: #ea4334 ;
  margin-top: 10px;
  font-size: 18px;
}