html {
    font-family: "Montserrat", sans-serif;
    background-image: url(./assets/background.png);
    background-size: cover;
    background-repeat: repeat;
    box-sizing: border-box;
    color: #707070;
  }

.Profile{
    position: absolute;
    display: flex;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    margin: auto;
    align-items: center;
    align-self: center;
    column-gap: 1rem;
    justify-content: space-between;
}
.profilecontainer{
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 85%;
    padding: 50px;
    margin: 12% auto;
    text-align: center;
    border-radius: 25px;
}
.avatar{
    width:200px;
    height:200px;      
}
.avatarcontainer{
    padding-top:10%;
    padding-left: 20%;
    display: flex; 
    padding-bottom: 2rem;
}
.points{
    align-items:flex-end;
}
.info{
    display: flex;  
    font-size:12px;
    padding-left: 10%;
    padding-bottom: 0.5rem ;
    
}
.personal-info{
    display: flex;
    flex-direction: row;
    align-items:flex-start;

}
.title-blue{
    display: flex;
    justify-content: start;
    color:#4285F4;
    font-size:15px;
    font-style:normal;
    font-weight: bold;
    font-family: "Montserrat";
    padding: 1rem 0;
    padding-left:1rem ;
    padding-bottom:2rem;
    height: 25px;
}
.title-green{
    display: flex;
    justify-content: start;
    color: #0D9D58;
    font-size:15px;
    font-style:normal;
    font-weight: bold;
    font-family: "Montserrat";
    padding: 1rem 0;
    padding-left:1rem ;
    padding-bottom:2rem;
    height: 25px;
}

.profileBox{
    background-color:white;
    width:20rem;
    height: 25rem;
    display: block;
    justify-content: center;
    align-items: center;
    position:relative;
    border-radius: 20px;
    flex-direction: column;
    margin-bottom: 1rem;
}

.infoBox{
    
    background-color:white;
    width:20rem;
    height: 12rem;
    margin-bottom: 1rem;
    display: block;
    justify-content: center;
    align-items: center;
    position:relative;
    border-radius: 20px ;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
.list{
    overflow-y: scroll;
    overflow-x: hidden;
}
  
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */}

.sub-username {
    color: #4285f4;
    font-weight: bold;
    font-size: 12px;
    padding-left: 10%;
    display: flex; 
    padding-bottom:0.5rem;
  }
  .sub-fullname {
    color: #FCBC05;
    font-weight: bold;
    font-size: 12px;
    padding-left: 10%;
    display: flex; 
    padding-bottom:0.5rem;
  }
  .sub-email {
    color: #EA4334;
    font-weight: bold;
    font-size: 12px;
    padding-left: 10%;
    display: flex; 
    padding-bottom:0.5rem;
  }
  .sub-discord {
    color: #0D9D58;
    font-weight: bold;
    font-size: 12px;
    padding-left: 10%;
    display: flex; 
    padding-bottom:0.5rem;
  }

  