
.icon{
    width: 25px;
    height: 21px;
}

.gdglogo{
    padding-top: 1rem ;
    width: 160px;
    height: 55px;
}
.wtmlogo{
    width: 150px;
    height: 49px;
    margin-bottom: 1.5rem;
}


.nav-menu {
    background-color:white;
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0rem;
    left: 0;
    transition: 850ms;
    border-radius: 0 30px 30px 0;
}
.nav-menu.active {
    left:0;
    transition: 350ms;
    width: 18rem;   
}

.typeText1 {
    display: flex;
    justify-content: start;
    color:#EA4334;
    font-size: 25px;
    font-style:initial;
    font-weight: bold;
    align-items: center;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    height: 25px;
}
.typeText2 {
    display: flex;
    justify-content: start;
    color:#707079;
    font-size: 25px;
    font-style:initial;
    font-weight: bold;
    align-items: center;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    height: 25px;
    
}

