/*basic styling */

:root{
  /*colors*/
  --red:#EA4334;
  --grey:#707070;
  --white:#fff;
  --background:#F5F5F5;

}
*,*::before,*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color:var(--background);
}