
/*basic styling */

:root{
  /*colors*/
  --red:#EA4334;
  --grey:#707070;
  --white:#fff;
  --background:#F5F5F5;

}
*,*::before,*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color:var(--background);
}

  body{
    background-image: url("Background.png");
  }
  .main{
    padding: 40px;
    align-items: center;
    margin: auto;
    border-radius: 100px;
  }
  .App {
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    margin :auto;
    display: flex;

  }
.email{
  height: 40px;
  font-family: montserrat,sans-serif;
  font-size: 25px;
  appearance: none;
  border: none;
  outline: none;
  font-weight: 50;
  color: #414141;
  background: rgba(253, 253, 253, 0.5);
  border: none;
  border-radius: 60px; 
  margin-bottom: 15px;
  margin-left: 35px;
  width:95%;
}
.password {
  outline: none;
  padding-left: 5px;
  font-family: montserrat,sans-serif;
  font-size: 25px;
  font-weight: 50;
  color: #414141;
  appearance: none;
  height: 40px;
  width:95%;
  background: rgba(253, 253, 253, 0.5);
  border: none;
  border-radius: 60px; 
  margin-bottom: 40px;
  margin-left: 35px;
  
}
 .Login{
  transition-duration: 0.2s;
   width: 140px;
   height: 40px;
   font-size: 25px;
   color: white;
    appearance: none;
    font-weight:100;
    background: #46B27F;
    border-radius: 60px; 
    border: none;
    outline: none;
    float: right;
    cursor: pointer;
    margin-right: 40px;
  }
  .Login:hover {
    background-color: #d34d4d; /* Green */
    color: rgb(253, 253, 253);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
 .form-inner h1{
      font-family: Montserrat,sans-serif;
      color: #EA4334;
      font-size: 56px;
      font-weight: 999;
      text-align: center;
      align-items: center;
      margin-bottom: 50px;
  }
  .form-inner h1 span{
    font-family: Montserrat,sans-serif;
    font: Montserrat;
    font-weight: bold;
    color: #EA4334;
    font-size: 56px;
    text-align: center;
    align-items: center;
}
.form-inner h1 x{
    font-family: Montserrat,sans-serif;
    font: Montserrat;
    font-weight: normal;
    color: #494949;
    font-size: 56px;
    text-align: center;
    align-items: center;
}
h8{
  font-family: montserrat,sans-serif;
  color: #46B27F;
  font-weight: lighter;
  font-size: 25px;
  margin-left: 40px;
  margin-top: 50px;
  font-size: 20px;
  float: left;
  margin-left: 80px;
}
h8 button {
  font-family: montserrat,sans-serif;
  cursor: pointer;
  color: #46B27F;
  font-weight: lighter;
  font-size: 20px;
  text-decoration: underline;
  background: none;
  border: none;
  appearance: none;
  color: #46B27F;
  margin-bottom: 90px;
}
.form-inner .form-group label{
  margin-left: 40px;
  font-family: montserrat,sans-serif;
  font-weight: lighter;
  color: #707070;
  font-size: 25px;

}
.error{
  text-shadow: 2px 2px #0000001e;
  margin-left: 40px;
  margin-bottom: 40px;
  font-family: Montserrat,sans-serif;
  font-weight: lighter;
  color: #080000;
  font-size: 25px;
}

  
  

